*{
  color: white;
}

body{
  background-image: url("starrynight-bg.jpg");
  text-align: center;
}

body {cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84983);}

header img{
  height: 70px;
}

section.alpha img{
  height: 60px
}

h1, h2, h3, h4, h5{
  font-family: cursive
}

section.appt{
  border: 2px solid grey;
  border-style: inset;
}

footer p{
  color: yellow
}

blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
